/* Card container */
.events-wrapper {
  max-width: 1500px;
}

.products-card {
  border: none;
  background: #f3f3ef;
  border-radius: 12px;

  min-height: 70dvh;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--primary-color) !important;
  transition: 0.5s ease-in-out;
}

.products-card:hover {
  transform: scale(0.98);
  border: 4px solid var(--primary-color) !important;
}

/* Image wrapper for absolute tag */
.products-img-wrapper {
  position: relative;
  width: 100%;
  height: 350px; /* Adjust as needed */
  overflow: hidden;
}

/* Image styling */
.products-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.4;
  transform: translateY(25px); /* move image down */
}

/* Tag over image */
.products-tag {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 20px;
  z-index: 2;
}

/* Description */
.products-desc {
  font-size: 15px;
  color: #444;
  line-height: 1.6;
}

/* Focus tags */
.focus-tag {
  border: 1.5px solid var(--primary-color);
  padding: 6px 14px;
  border-radius: 18px;
  font-size: 12px;
  margin: 4px;
  display: inline-block;
}

.bg-none {
  background-color: transparent !important;
}
