.facilities-section {
  padding: 100px 0;
}

.facilities-title {
  font-weight: 500;
}

.facility-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.facility-img-wrapper img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
}
