* {
  font-family: "inter", sans-serif;
}

@font-face {
  font-family: "Horus";
  src: url("../public/fonts/Horus.otf") format("opentype");
}

@font-face {
  font-family: "quicksand";
  src: url("../public/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Horus", sans-serif;
}

p {
  font-family: "quicksand", sans-serif;
}

.hFont {
  font-family: "Horus", sans-serif !important;
}

.pFont {
  font-family: "quicksand", sans-serif !important;
}
